* {
    border: none;
    border-radius: 0;
    font-family: sans-serif, Roboto, Helvetica, Arial, sans-serif;
    font-size: 11px;
    min-height: 24px;
}

window#waybar {
    background: #2F343F;
    border-bottom: 0px solid rgba(100, 114, 125, 0.5);
    color: #fafafa;
}

#workspaces button {
    padding: 0 5px;
    background: transparent;
    color: white;
}

#workspaces button.focused {
    background: transparent;
    border-bottom: 3px solid white;
}

#mode, #clock, #battery {
    padding: 0 10px;
    margin: 0 5px;
}

#mode {
    background: #FF2F34;
    border-bottom: 3px solid white;
}

#pulseaudio {
	padding: 0 10px;

}

#clock {
    background-color: transparent;
}

#battery {
    background-color: #ffffff;
    color: black;
}

#battery.charging {
    color: white;
    background-color: #26A65B;
}

@keyframes blink {
    to {
        background-color: #ffffff;
        color: black;
    }
}

#battery.warning:not(.charging) {
    background: #f53c3c;
    color: white;
    animation-name: blink;
    animation-duration: 0.5s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
    animation-direction: alternate;
}
